* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1 font-size:inherit, h2 font-size:inherit, h3 font-size:inherit, h4 font-size:inherit, h5 font-size:inherit, h6 font-size:inherit {
  font-weight: inherit;
}

/*--------------------*/
html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  padding: 15px;
}

.input {
  border: 1px solid rgba(13, 109, 253, 0.662745098);
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.input__title {
  background: rgba(13, 109, 253, 0.662745098);
  padding: 15px;
}

.input__form {
  padding: 15px;
  background-color: #dee2e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.label {
  margin-bottom: 15px;
}
.label:last-child {
  margin-bottom: 0;
}

.input__text {
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
}

.input__name {
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  font-size: 18px;
}
.input__name:focus {
  outline: 3px solid rgba(13, 109, 253, 0.662745098);
}

.input__comment {
  width: 100%;
  height: 150px;
  padding: 15px;
  resize: none;
  overflow: auto;
  border-radius: 10px;
  font-size: 18px;
}
.input__comment:focus {
  outline: 3px solid rgba(13, 109, 253, 0.662745098);
}

.input__date {
  padding: 5px 20px;
  height: 40px;
  font-size: 1.2em;
  border-radius: 10px;
  text-align: center;
}

.input__submit {
  padding: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(106, 172, 131, 0.7058823529);
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.title {
  color: #f8f9fa;
  font-size: 2em;
}

.output__row {
  margin-bottom: 15px;
  border: 1px solid rgba(13, 109, 253, 0.662745098);
  border-radius: 15px;
  overflow: hidden;
}

.output__title {
  background: rgba(13, 109, 253, 0.662745098);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #f8f9fa;
}

.output__name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-size: 2em;
  margin-bottom: 5px;
}

.output__date,
.output__time {
  font-size: 1.2em;
}

.output__comment {
  padding: 15px;
  font-size: 1.2em;
  line-height: 1.3em;
  text-indent: 2em;
  min-height: 100px;
}

.output__btn {
  background-color: #dee2e6;
  padding: 15px;
}

.output__remove {
  padding: 15px;
  background-color: rgba(106, 172, 131, 0.7058823529);
  border-radius: 10px;
  font-size: 1.3em;
  cursor: pointer;
  color: #fff;
}